<button class="btn btn--yellow">Learn More</button>
<button class="btn btn--red">Learn More</button>

<!--Social Buttons-->
<ul class="social-buttons">
  <li class="social-button-item">
    <a class="btn-social" href="#"><i class="fa fa-facebook-square"></i></a>
  </li>
  <li class="social-button-item">
    <a class="btn-social" href="#"><i class="fa fa-instagram"></i></a>
  </li>
  <li class="social-button-item">
    <a class="btn-social" href="#"><i class="fa fa-twitter"></i></a>
  </li>
  <li class="social-button-item">
    <a class="btn-social" href="#"><i class="fa fa-pinterest"></i></a>
  </li>
</ul>
