<header>
  <nav class="nav-bar container hidden">
    <img class="logo" src="images/logo.svg" alt="sunnyside" />
    <img
      class="toggle-icon"
      src="images/icon-hamburger.svg"
      alt="hamburger icon"
    />
    <ul class="flex-list nav__list">
      <li>
        <a class="nav__link" href="#">About</a>
      </li>
      <li><a class="nav__link" href="#">Services</a></li>
      <li><a class="nav__link" href="#">Projects</a></li>
      <li class="nav__item--contact">
        <a class="nav__link--contact" href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
