<div class="hero-block overlap">
  <picture>
    <source
      media="(min-width: 600px)"
      srcset="images/desktop/image-header.jpg"
    />
    <img
      class="overlap__img"
      src="images/mobile/image-header.jpg"
      alt="A slice of orange on a blue background"
    />
  </picture>
  <div class="overlap__content hero__content">
    <h1>We are creatives</h1>
    <img src="images/icon-arrow-down.svg" alt="Downwards arrow" />
  </div>
</div>
<div class="overlap">
  <picture>
    <source
      media="(min-width: 600px)"
      srcset="images/desktop/image-graphic-design.jpg"
    />
    <img
      class="overlap__img"
      src="images/mobile/image-graphic-design.jpg"
      alt="Cherry on a green background"
    />
  </picture>
  <div
    class="overlap__content overlap__content--green overlap__content--feature container"
  >
    <h2>Graphic Design</h2>
    <p>
      Great design makes you memorable. We deliver artwork that underscores your
      brand message and captures potential clients' attention
    </p>
  </div>
</div>

<div class="overlap">
  <picture>
    <source
      media="(min-width: 600px)"
      srcset="images/desktop/image-photography.jpg"
    />
    <img
      class="overlap__img"
      src="images/mobile/image-photography.jpg"
      alt="Mandarin orange on a blue background"
    />
  </picture>

  <div
    class="overlap__content overlap__content--blue overlap__content--feature container"
  >
    <h2>Photography</h2>
    <p>
      Increase your credibility by getting the most stunning, high-quality
      photos that improve your business image.
    </p>
  </div>
</div>
