<div class="photo-gallery">
  <picture>
    <source
      media="(min-width: 600px)"
      srcset="images/desktop/image-gallery-milkbottles.jpg"
    />
    <img
      class="gallery__img"
      src="images/mobile/image-gallery-milkbottles.jpg"
      alt="Five milk bottles on blue background"
    />
  </picture>

  <picture>
    <source
      media="(min-width: 600px)"
      srcset="images/desktop/image-gallery-orange.jpg"
    />
    <img
      class="gallery__img"
      src="images/mobile/image-gallery-orange.jpg"
      alt="Plate with a half orange"
    />
  </picture>
  <picture>
    <source
      media="(min-width: 600px)"
      srcset="images/desktop/image-gallery-cone.jpg"
    />
    <img
      class="gallery__img"
      src="images/mobile/image-gallery-cone.jpg"
      alt="Ice cream cone with no ice cream"
    />
  </picture>
  <picture>
    <source
      media="(min-width: 600px)"
      srcset="images/desktop/image-gallery-sugarcubes.jpg"
    />
    <img
      class="gallery__img"
      src="images/mobile/image-gallery-sugar-cubes.jpg"
      alt="Stacked sugar cubes"
    />
  </picture>
</div>
