<article class="testimonial-block container">
  <h2 class="testimonial__title">Client Testimonials</h2>
  <article class="testimonial">
    <img
      class="testimonial__photo"
      src="images/image-emily.jpg"
      alt="Profile picture of Emily R."
    />
    <blockquote class="testimonial__content">
      We put our trust in Sunnyside and they delivered, making sure our needs
      were met and deadlines were always hit.
    </blockquote>
    <h3 class="testimonial__name">Emily R.</h3>
    <p class="testimonial__position">Marketing Director</p>
  </article>
  <article class="testimonial">
    <img
      class="testimonial__photo"
      src="images/image-thomas.jpg"
      alt="Profile picture of Thomas S."
    />
    <blockquote class="testimonial__content">
      Sunnyside's enthusiasm coupled with their keen interest in our brand's
      success made it a satisfying and enjoyable experience.
    </blockquote>
    <h3 class="testimonial__name">Thomas S.</h3>
    <p class="testimonial__position">Chief Operating Officer</p>
  </article>
  <article class="testimonial">
    <img
      class="testimonial__photo"
      src="images/image-jennie.jpg"
      alt="Profile picture of Jennie F."
    />
    <blockquote class="testimonial__content">
      Incredible end result! Our sales increased over 400% when we worked with
      Sunnyside. Highly recommended!
    </blockquote>
    <h3 class="testimonial__name">Jennie F.</h3>
    <p class="testimonial__position">Business Owner</p>
  </article>
</article>
